{% extends "layout.html" %}

{% block javascript %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelector("#send").onclick = function() {

                 // Create new message tag
                const p = document.createElement('p');

                // Set content of message tag
                p.innerHTML = document.querySelector("#message").value;

                // Append new message to messages
                document.querySelector("#messages").append(p);

                // Adding delete button for each message
                const but = document.createElement('button');

                //set content of the button
                but.innerHTML = "[x]";

                // Append the button to the div
                document.querySelector("#messages").append(but);

                // Stop page from reloading
                return false;
            };

            document.querySelector("#messages").onclick = function(event) {

                 let targetId = event.target;
                 if(targetId.tagName != "BUTTON") return;

                 remove(targetId);
            };

            function remove(target){
              let sibling = target.previousSibling;
              sibling.remove();
              target.remove();
            }
        });
    </script>
{% endblock %}

{% block pagestyles %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/dashboard.css')}}">
{% endblock %}

{% block title %} Dashboard {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div id="channels" class="col-2">
                <h1>Channels</h1>
                <ul>
                    <li>Channel 1</li>
                    <li>Channel 2</li>
                    <li>Channel 3</li>
                    <li>Channel 4</li>
                </ul>
            </div>
            <div id="chat" class="col-8">
                <div id="messages">
                    <h3 id="direction">Messages will appear here!</h3>
                </div>
                <form id="new-message" class="form-inline">
                    <input id="message" type="text" name="message">
                    <input id="send" type="submit" value="Send">
                </form>
            </div>            
            <div id="members" class="col-2">
                <h1>Members in channel</h1>
                <ul>
                    <li>Member 1</li>
                    <li>Member 2</li>
                    <li>Member 3</li>
                    <li>Member 4</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}