{% extends "layout.html" %}

{% block pagestyles %}
{% endblock %}

{% block title %} Account Login - Messagetastic {% endblock %}

{% block body %}
    <form action="{{ url_for('main_bp.dashboard') }}", method="post">
        <label for="username">Username: </label>
        <input id="username" type="text" placeholder="Username" name="username">
        <label for="password">Password: </label>
        <input id="password" type="password" placeholder="Password">
        <input type="submit">
    </form>
{% endblock %}